In [1]:
1+1

2

In [2]:
1/2

0.5

In [3]:
2**4  # 2 to power of 4

16

In [5]:
# it follow operations 
2 + 3 * 5 +5

22

In [6]:
#modulus - remainder after divsion
4%2

0

In [7]:
5%2 # nice way to check if the number is even

1

In [8]:
# variable assignment
y = 5.0

In [9]:
y

5.0

In [10]:
# variable cannot start with numbers or special symbols 
var = 12

In [13]:
# Strings 
"hello"

'hello'

In [11]:
'single quote'

'single quote'

In [12]:
"this is a string with double quote"

'this is a string with double quote'

In [15]:
"i can't go anywhere"

"i can't go anywhere"

In [16]:
x = "hello"

In [17]:
x

'hello'

In [18]:
print(x)

hello

In [19]:
num =12
name = "Sam"

In [20]:
'my number is {} and my name is {}'.format(num,name) # you can do it this way

'my number is 12 and my name is Sam'

In [21]:
print('my number is {} and my name is {}'.format(num,name))

my number is 12 and my name is Sam

In [23]:
#or
print('my number is {one} and my name is {two}, more {one}'.format(one=num,two=name, three=name))

my number is 12 and my name is Sam, more 12

In [33]:
s = "helloXYZI"

In [38]:
s[0]

'h'

In [37]:
s[-1] or s[4]

'I'

In [36]:
s[1:] #start 1, grab everything beyond

'elloXYZI'

In [35]:
s[:3] # grab everything up to but not including index 3

'hel'

In [34]:
s[3:6]

'loX'

In [39]:
#list
[1,2,3]

[1, 2, 3]

In [41]:
my_list = ['a', 'b', 'c']

In [43]:
my_list.append('d')

In [44]:
my_list

['a', 'b', 'c', 'd']

In [45]:
my_list[0]

'a'

In [46]:
my_list[1:3]  # you can inidex list too

['b', 'c']

In [47]:
my_list[0] = "NEW"

In [48]:
my_list

['NEW', 'b', 'c', 'd']

In [49]:
# nested List
nest = [1,2,[3,4]]

In [50]:
nest

[1, 2, [3, 4]]

In [51]:
nest[2]

[3, 4]

In [52]:
nest[2][1]

4

In [53]:
nest = [1,2,3,[4,5,['target']]]

In [55]:
nest[3][2][0]

'target'

In [56]:
print(nest[3][2][0])

target